*.out
*.csv
spm
*tmp
spm            
spm.b0*        
spm.cor        
spm.eva        
spm.p0*        
spm.par        
spm.r0*        
spm.std        
spm_detail.csv
spm.b0*        
spm.bar        
spm.dat        
spm.log        
spm.rep        
*.log
inst/doc
docs
.Rproj.user
